@model gestiondette.Models.Client


@{
    Layout = "_layout";
}



<main class="p-4 sm:ml-64  overflow-hidden">
    <div class="flex flex-col justify-center items-center ">
        <h1 class="text-3xl font-bold">Ajout Client</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-user">
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
            <circle cx="12" cy="7" r="4" />
        </svg>

        <div class="md:w-xgg sm:w-xgg mx-auto p-6   border-t-black shadow-md border-2 rounded-md m-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-6 w-full">
                    <label asp-for="Surnom" for="large-input"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-red-200">
                        Surnom</label>
                    <input asp-for="Surnom"
                        class="form-control block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    <span asp-validation-for="Surnom" class="text-danger"></span>
                </div>
                <div class="mb-6 w-full">
                    <label asp-for="Telephone" for="large-input"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-red-200">
                        Telephone</label>
                    <input asp-for="Telephone"
                        class="form-control block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="mb-6 w-full">
                    <label asp-for="Adresse" for="large-input"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-red-200">
                        Adresse</label>
                    <input asp-for="Adresse"
                        class="form-control block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    <span asp-validation-for="Adresse" class="text-danger"></span>
                </div>
                <label class="switch">
                    <input type="checkbox" id="toggleSwitch" name="toggleSwitch">
                    <span class="slider"></span>
                </label>
                <div
                    class="bg-gradient-to-r from-blue-500 to-purple-600  max-h-60 p-6 shadow-lg rounded-lg transform hover:scale-105 transition duration-300 ease-in-out h-auto w-full flex flex-row items-center mt-3 mb-3 space-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none"
                        stroke="#2196F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-users">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <circle cx="9" cy="7" r="4" />
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    </svg>
                    <p class="text-xl">Ajouter un compte utilisateur</p>
                </div>



                <div class="mt-4 text-center flex flex-row space-x-2 justify-end">

                    <input type="submit" value="Create">

                </div>
            </form>
        </div>


        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <a asp-action="Index">Back to List</a>
    </div>
    </div>
</main>
